In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Start a Spark session with the SQLite JDBC driver
spark = SparkSession.builder \
    .appName("SmartSales") \
    .config("spark.jars", "/Users/stephneyaganaga/Desktop/school-assessment/smart-sales-blessing/lib/sqlite-jdbc-3.49.1.0.jar") \
    .getOrCreate()


# Load data from SQLite
df_sales = spark.read.format("jdbc") \
    .option("url", "jdbc:sqlite:/Users/stephneyaganaga/Desktop/school-assessment/smart-sales-blessing/data/dw/smart_sales.db") \
    .option("dbtable", "sale") \
    .option("driver", "org.sqlite.JDBC") \
    .load()


df_sales.show()

df_customer = spark.read.format("jdbc") \
    .option("url", "jdbc:sqlite:/Users/stephneyaganaga/Desktop/school-assessment/smart-sales-blessing/data/dw/smart_sales.db") \
    .option("dbtable", "customer") \
    .option("driver", "org.sqlite.JDBC") \
    .load()

df_products = spark.read.format("jdbc") \
    .option("url", "jdbc:sqlite:/Users/stephneyaganaga/Desktop/school-assessment/smart-sales-blessing/data/dw/smart_sales.db") \
    .option("dbtable", "product") \
    .option("driver", "org.sqlite.JDBC") \
    .load()

df_products.show()

# Register DataFrames as temporary views (if not already done)
df_sales.createOrReplaceTempView("sale")
df_products.createOrReplaceTempView("product")
df_customer.createOrReplaceTempView("customer")

df_sales_with_category_and_customer = spark.sql("""
SELECT s.*, p.category, c.region
FROM sale s
JOIN customer c ON s.customer_id = c.customer_id
JOIN product p ON s.product_id = p.product_id
""")

# Write query using Spark SQL
df_top_customers = spark.sql("""
SELECT c.name, SUM(s.sale_amount) AS total_spent
FROM sale s
JOIN customer c ON s.customer_id = c.customer_id
GROUP BY c.name
ORDER BY total_spent DESC
""")

# Show Spark results
df_top_customers.show()

# Convert to Pandas for use with charts
import pandas as pd
df_top_customers_pd = df_top_customers.toPandas()

df_filtered = df_sales.filter(df_sales.sale_date >= "2023-01-01")

df_grouped = df_sales_with_category_and_customer.groupby("category", "region").sum("sale_amount").show()


df_sales_with_time = df_sales.withColumn(
    "sale_date_parsed", F.to_date(F.col("sale_date"), "M/d/yyyy")
)

df_sales_with_time = df_sales_with_time.withColumn(
    "year", F.year(F.col("sale_date_parsed"))
).withColumn(
    "month", F.month(F.col("sale_date_parsed"))
).withColumn(
    "quarter", F.quarter(F.col("sale_date_parsed"))
)

df_sales_with_time.groupby("year", "quarter", "month").sum("sale_amount").show()



import seaborn as sns
import matplotlib.pyplot as plt

sns.barplot(data=df_top_customers_pd, x="name", y="total_spent")
plt.xticks(rotation=45)
plt.show()

25/04/19 11:43:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/19 11:43:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-------+-----------+----------+-----------+---------+--------+-----------+--------------------+--------------+
|sale_id|customer_id|product_id|sale_amount|sale_date|store_id|campaign_id|    discount_percent|         state|
+-------+-----------+----------+-----------+---------+--------+-----------+--------------------+--------------+
|    550|       1008|       102|       39.1| 1/6/2024|     404|          0|2.430000000000000000|         Texas|
|    551|       1009|       105|      19.78| 1/6/2024|     403|          0|2.750000000000000000|       Florida|
|    552|       1004|       107|      335.1|1/16/2024|     404|          0|0.850000000000000000|    California|
|    553|       1006|       102|      195.5|1/16/2024|     406|          0|1.710000000000000000|      New York|
|    554|       1005|       102|      117.3|1/25/2024|     405|          0|1.850000000000000000|      Illinois|
|    555|       1001|       101|    2379.36|1/25/2024|     401|          0|0.610000000000000000|  Pennsylvania|
|    556|       1009|       104|      172.4|1/29/2024|     403|          0|1.790000000000000000|          Ohio|
|    557|       1010|       101|    3172.48|1/29/2024|     402|          0|0.250000000000000000|       Georgia|
|    558|       1002|       102|      312.8| 2/6/2024|     402|          0|2.710000000000000000|North Carolina|
|    559|       1001|       106|     622.86| 2/6/2024|     401|          0|1.810000000000000000|      Michigan|
|    560|       1010|       101|    6344.96| 2/6/2024|     402|          0|0.330000000000000000|    New Jersey|
|    561|       1005|       107|     469.14| 2/6/2024|     405|          0|0.770000000000000000|      Virginia|
|    562|       1003|       108|      12.56| 2/8/2024|     403|          0|1.410000000000000000|    Washington|
|    563|       1006|       107|      67.02| 2/8/2024|     406|          0|0.270000000000000000|       Arizona|
|    564|       1009|       107|     469.14| 2/9/2024|     403|          0|0.140000000000000000| Massachusetts|
|    565|       1002|       105|     138.46| 2/9/2024|     402|          0|1.960000000000000000|     Tennessee|
|    566|       1007|       103|     204.84|2/24/2024|     405|          0|0.980000000000000000|       Indiana|
|    567|       1007|       106|      444.9|2/24/2024|     405|          0|1.590000000000000000|      Missouri|
|    568|       1011|       107|     603.18|2/24/2024|     401|          0|1.960000000000000000|      Maryland|
|    569|       1010|       101|     3965.6|2/24/2024|     402|          0|0.310000000000000000|     Wisconsin|
+-------+-----------+----------+-----------+---------+--------+-----------+--------------------+--------------+
only showing top 20 rows

+----------+------------+-----------+--------------------+--------------+---------+
|product_id|product_name|   category|          unit_price|stock_quantity| supplier|
+----------+------------+-----------+--------------------+--------------+---------+
|       101|      laptop|Electronics|793.1200000000000...|            11| Tefhaven|
|       102|      hoodie|   Clothing|39.10000000000000...|            87|  Amazon |
|       103|       cable|Electronics|22.76000000000000...|            50|  Alibaba|
|       104|         hat|   Clothing|43.10000000000000...|            61|  Walmart|
|       105|    football|     Sports|19.78000000000000...|            12|   Costco|
|       106|  controller|Electronics|88.98000000000000...|            43|     Levi|
|       107|      jacket|   Clothing|67.02000000000000...|            98|Homedepot|
|       108|   protector|Electronics|12.56000000000000...|            10|      Gap|
+----------+------------+-----------+--------------------+--------------+---------+

+----------------+------------------+
|            name|       total_spent|
+----------------+------------------+
|   William White|23752.520000000004|
|Hermione Granger|          22822.54|
|   Susan Johnson|           12422.6|
|       Chewbacca|11813.439999999999|
|   Tiffany James|          11715.82|
| Hermione Grager|           8750.94|
|    Wylie Coyote|           7434.44|
|          Dr Who|4064.8599999999997|
|       Dan Brown|2427.2999999999997|
|    Jason Bourne|           1806.34|
|      Tony Stark|           1545.54|
+----------------+------------------+

+-----------+------+------------------+
|   category|region|  sum(sale_amount)|
+-----------+------+------------------+
|     Sports| North|            336.26|
|   Clothing|  West|2370.7799999999997|
|   Clothing| North|           3583.52|
|     Sports|  West|             19.78|
|Electronics| North|1690.6200000000001|
|   Clothing| South|           3387.34|
|     Sports| South|             39.56|
|Electronics|  East|          58400.28|
|   Clothing|  East|4083.2400000000002|
|     Sports|  East|            276.92|
|Electronics| South|20711.520000000004|
|Electronics|  West|          13656.52|
+-----------+------+------------------+

+----+-------+-----+------------------+
|year|quarter|month|  sum(sale_amount)|
+----+-------+-----+------------------+
|2024|      1|    1|           6431.02|
|2024|      3|    9| 9492.800000000001|
|2024|      3|    7|21038.120000000003|
|2024|      3|    8| 4627.200000000001|
|2024|      1|    3|          12150.18|
|2024|      2|    6| 6444.100000000001|
|2024|      1|    2|14591.460000000001|
|2024|      2|    5|          10982.82|
|2024|      2|    4|16945.100000000002|
|2024|      4|   10|           5853.54|
+----+-------+-----+------------------+

NameError: name 'result' is not defined